<marquee class="html-marquee" direction="left" behavior="scroll" scrollamount="12" height="35px" bgcolor="#141414" vspace="0" style="display: block;">
    <p style="color: white; position: absolute; margin-top: 5px;">Free UK Delivery on orders over £50! </p>
    </marquee>