<link rel="stylesheet" href="{{ 'faq-stylesheet.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'faq.js' | asset_url }}" defer="defer"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<div class="width-container">
<header>
	<div class="blankspace">
		<p class="header-dot">.</p>
	</div>
	<nav>
		<ul class="nav-links">
			<li><a class="legal-menu-item" id="deliverylink" href="#">Delivery</a></li>
			<li><a class="legal-menu-item" id="refundlink" href="#">Returns & Refunds</a></li>
			<li><a class="legal-menu-item" id="orderlink" href="#">My Order</a></li>
			<li><a class="legal-menu-item" id="paymentlink" href="#">Payments & Promotions</a></li>
			<li><a class="legal-menu-item" id="technicallink" href="#">Technical</a></li>
		</ul>
	</nav>
	<a href="https://all-out-devs-2.myshopify.com/pages/contact" class="cta"><button>Contact Us</button></a>
</header>

    
<!--<div class="faq-container" id="delivery-container">
	<section>
		<div class="accordian">
			<div class="accordian-item" id="question1">
				<a class="accordian-link" href="#question1">
					Is this a test accordian?
					<i class="iocon ion-md-add"></i>
					<i class="iocon ion-md-remove"></i>
				</a>
				<div class="answer">
					<p>ipsum dolor sit amet consectetur adipisicing elit. Assumenda, soluta?</p>
				</div>
			</div>
		</div>
		<div class="accordian">
			<div class="accordian-item" id="question2">
				<a class="accordian-link" href="#question2">
					Is this a test accordian 2?
					<i class="iocon ion-md-add"></i>
					<i class="iocon ion-md-remove"></i>
				</a>
				<div class="answer">
					<p>ipsum dolor sit amet consectetur adipisicing elit. Assumenda, soluta?</p>
				</div>
			</div>
		</div>
		<div class="accordian">
			<div class="accordian-item" id="question3">
				<a class="accordian-link" href="#question3">
					Is this a test accordian 3?
					<i class="iocon ion-md-add"></i>
					<i class="iocon ion-md-remove"></i>
				</a>
				<div class="answer">
					<p>ipsum dolor sit amet consectetur adipisicing elit. Assumenda, soluta?</p>
				</div>
			</div>
		</div>
		<div class="accordian">
			<div class="accordian-item" id="question4">
				<a class="accordian-link" href="#question4">
					Is this a test accordian 4?
					<i class="iocon ion-md-add"></i>
					<i class="iocon ion-md-remove"></i>
				</a>
				<div class="answer">
					<p>ipsum dolor sit amet consectetur adipisicing elit. Assumenda, soluta?</p>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="contact-us-wording">
    <div>
        <p class="contact-us">
            If you could not find what you are looking for then get in touch with our customer care team and we will do everything that we can to help.
        </p>
        <div class="button-container">
            <a href="contact" class="contact-us-button">Contact Us</a>
        </div>
    </div>
</div>-->
</div>

{% schema %}
{
	"name": "faq",
	"tag": "section",
	"class": "spaced-section",
    "presets": [
		{ "name": "frequently Block" }
	]
}
{% endschema %}