<link rel="stylesheet" href="{{ 'faq-stylesheet.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'faq.js' | asset_url }}" defer="defer"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<!-- fontawasome cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<!-- google font -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">

<div class="width-container">
<header>
	<div class="blankspace">
		<p class="header-dot">.</p>
	</div>
	<nav>
		<ul class="nav-links">
			<li><a class="legal-menu-item" id="deliverylink" href="#">Delivery</a></li>
			<li><a class="legal-menu-item" id="refundlink" href="#">Returns & Refunds</a></li>
			<li><a class="legal-menu-item" id="orderlink" href="#">My Order</a></li>
			<li><a class="legal-menu-item" id="paymentlink" href="#">Payments & Promotions</a></li>
			<li><a class="legal-menu-item" id="technicallink" href="#">Technical</a></li>
		</ul>
	</nav>
	<a href="https://all-out-devs-2.myshopify.com/pages/contact" class="cta"><button>Contact Us</button></a>
</header>

<section class="sec">
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question1">
                <a class="accordian-link" href="#question1">
                    How often do you test this?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ea assumenda necessitatibus facilis ducimus quibusdam similique exercitationem quis, nihil reprehenderit ipsam enim autem tempora mollitia.</p>
                </div>
            </div>
        </div>
    </div>
</section>

</div>

{% schema %}
{
	"name": "faq page",
	"tag": "section",
	"class": "spaced-section",
    "presets": [
		{ "name": "FAQ Block" }
	]
}
{% endschema %}