<link rel="stylesheet" href="{{ 'faq-stylesheet.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'faq.js' | asset_url }}" defer="defer"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<!-- fontawasome cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<!-- google font -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">

<div class="width-container">
<header>
	<div class="blankspace">
		<p class="header-dot">.</p>
	</div>
	<nav>
		<ul class="nav-links">
			<li><a class="legal-menu-item" id="deliverylink" href="#/">Delivery</a></li>
			<li><a class="legal-menu-item" id="refundlink" href="#/">Returns & Refunds</a></li>
			<li><a class="legal-menu-item" id="orderlink" href="#/">My Order</a></li>
            <li><a class="legal-menu-item" id="productslink" href="#/">Products & Stock</a></li>
			<li><a class="legal-menu-item" id="paymentlink" href="#/">Payments & Promotions</a></li>
			<li><a class="legal-menu-item" id="technicallink" href="#/">Technical</a></li>
		</ul>
	</nav>
	<a href="https://all-out-devs-2.myshopify.com/pages/contact" class="cta"><button>Contact Us</button></a>
</header>

<section class="sec" id="delivery-section">
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question1">
                <a class="accordian-link" href="#question1" onclick="keepLocation(window.pageYOffset);">
                    Which delivery services do you offer?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        We currently offer two variations of delivery.<br>
                        Standard Delivery (International)<br>
                        Premium Delivery (UK only)<br>
                        We select the courier for your delivery based on the location of the delivery address and the value of your order.<br>
                        All orders are fully tracked. Once you have placed your order you will receive an order confirmation, via email. Once your order has been dispatched from our warehouse we will send you another email including your order and delivery information, this will include your tacking number so that you can track the delivery.<br>
                        If you provide your mobile number upon placing your order then you will receive SMS updates from the courier, regarding the delivery of your order.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question2">
                <a class="accordian-link" href="#question2" onclick="keepLocation(window.pageYOffset);">
                    Can I track my order?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        Yes, you can track your order.<br>
                        Upon dispatch of your order, from our warehouse, you will receive an email informing you of this. Within the email you will find a tracking number and a link that you can follow to track your order.<br>
                        If you provide your mobile number upon placing your order, then you will receive SMS updates from the courier at every stage of the delivery journey.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question3">
                <a class="accordian-link" href="#question3" onclick="keepLocation(window.pageYOffset);">
                    How long will my order take to arrive?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>Unfortunately, we are not able to provide exact timeframes on when you will receive your order.<br>
                    This timeframe varies due to many factors, such as your location and chosen delivery service. There are also many external factors that we can not control.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question4">
                <a class="accordian-link" href="#question4" onclick="keepLocation(window.pageYOffset);">
                    Where is my order?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>If you are yet to receive confirmation of the dispatch of your order then it is currently still with us at the warehouse.<br>
Once you have received a dispatch confirmaiton email, please use the link and tracking number provided to track the status of your order.<br>
If the delivery has surpassed the estimated delivery date (found in your order confirmation email) and you are yet to receive your order then please allow a few days for your delivery to arrive, our couriers work extremely hard to delivery all orders on time. But, this can sometimes be difficult.<br>
If it has been a few days since the estimated delivery date then please get in touch with us and we will do what we can to get this sorted immediately for you.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question5">
                <a class="accordian-link" href="#question5" onclick="keepLocation(window.pageYOffset);">
                    I have not received my order.
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        
If the delivery has surpassed the estimated delivery date (found in your order confirmation email) and you are yet to receive your order then please allow a few days for your delivery to arrive, our couriers work extremely hard to delivery all orders on time. But, this can sometimes be difficult.<br>
If it has been a few days since the estimated delivery date then please get in touch with us and we will do what we can to get this sorted immediately for you.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question6">
                <a class="accordian-link" href="#question6" onclick="keepLocation(window.pageYOffset);">
                    What if I am not in when my order arrives?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
If you are not available at the time of delivery then there are various situations that could occur, depending on the courier delivering your order.<br>
If a signature is needed upon delivery, then it is likely that the courier will try to re-deliver at another time.<br>
If no signature is necessary, the courier may leave you a calling card stating the location of your parcel. This could be left with a neighbour, in your provided safe place or with the courier where you may have to collect it from.<br>
Upon placing the order, we give you the opportunity to tell us where you would like the parcel to be left for if such events occur. If this is left unanswered, then it is the courier's decision to decide what happens with your parcel.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question7">
                <a class="accordian-link" href="#question7" onclick="keepLocation(window.pageYOffset);">
                    Can I choose when I have my order delivered?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        
Currently, we do not allow you to decide when to have your order delivered. Which is why it is important that you take a note of your estimated delivery date and track your parcel, so that you know when to expect it.<br>
However, giving you the opportunity to decide when you shall receive your order is something that we are looking into making an option for you in the near future.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question8">
                <a class="accordian-link" href="#question8" onclick="keepLocation(window.pageYOffset);">
                    Can I have my order delivered to my work address?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>                  
Yes, you can have your order delivered to your place of work.<br>
However, please ensure that there is somebody present to tae your delivery for you. The courier will not seek you out specifically, so please make sure that this person is trusted as we can not do anything about a loss of the parcel once it has been confirmed to have been delivered to the correct location.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question9">
                <a class="accordian-link" href="#question9" onclick="keepLocation(window.pageYOffset);">
                    Why has my order been returned to All Out?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>                  
                        If your order has been returned to All Out by the courier, then please see below the likely reasons why:<br>
                        The parcel was refused upon delivery<br>
                        There was no clear route of access for the courier at the delivery address<br>
                        The delivery address was not clear for the courier<br>
                        The parcel was damaged during transit<br>
                        The order was not collected after failed delivery within the alotted timeframe<br>      
                        In the event of this occuring, we will send you an email upon receiving your order to inform you of what has happened. In this event, we will refund you the full amount for the items in your order. If you would still like the items in your order, then please place a new order for the times (please be aware that items may go out of stock within the period).</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec" id="refund-section">
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question10">
                <a class="accordian-link" href="#question10" onclick="keepLocation(window.pageYOffset);">
                    I forgot to include my returns slip.
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
In the event that you send us a return without the returns slip included, it is our policy to send the returned parcel back to you.<br>
If this is to happen, you will then need to send the parcel back to us again with the returns slip included. Unfortunately, we can not process and refunds without the returns slip. If you have lost the returns slip, please get in touch with our support team and we can send you a new one electronically, this can then be printed out and put into the parcel.<br>
To get in touch with us please contact us via this link.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question11">
                <a class="accordian-link" href="#question11" onclick="keepLocation(window.pageYOffset);">
                    Can I return sale items?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>We will accept the return of sale items under certain circumstances.<br>
Any items that have been discounted at 50% or more, we will not accept returns for. In the event of you returning an item that has been discounted at 50% or higher, we will send you an email explaining the process and we will return the item back to you.<br>
However, anything that is discounted at less than 50%, we will accept the returns and carry out the process as usual and you will receive your refund.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question12">
                <a class="accordian-link" href="#question12" onclick="keepLocation(window.pageYOffset);">
                    Have you received my returned items?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        Once you send your items back to us, it can take 3-5 working days in order for us to receive your items.<br>
                        We will send you an email confirming that we have received your items and what the next steps are in the process.<br>
                        If you have not heard from us after the estimated returns time, please do not hesitate to contact us. We are happy to help and keep you updated throughout the process!<br>
                        If you would like to contact us, you can do so via this link.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question13">
                <a class="accordian-link" href="#question13" onclick="keepLocation(window.pageYOffset);">
                    Can I track my return?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        Unfortunately, there is not a way to track your return in the same way that you would track the original delivery.<br>
                        However, we will confirm that we have received your return and processed the refund by sending you an email once this has been completed. Please note that it can take 3-5 working days for us to receive and process your return and refund. It can also take 3-5 working days for you to receive your refund, once it has been processed.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question14">
                <a class="accordian-link" href="#question14" onclick="keepLocation(window.pageYOffset);">
                    Can I exchange items when I return items?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        Unfortunately, we do not offer exchanges on items that you are returning.<br>
                        We will process a refund and this is our way of handling any returns that we receive.<br>
                        Whether it be you ordered the wrong size, or you would rather a different colour, you will need to place a new order with us for your desired items.<br>
                        Please note that we offer free returns so do not worry, once your refund has been processed you are not losing out on anything!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question15">
                <a class="accordian-link" href="#question15" onclick="keepLocation(window.pageYOffset);">
                    Can I get a new returns slip?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        If you need to make a return but have lost your returns slip then we can get you a new one. Just send us an email and we can send you a new returns slip electronically for you to print out and send back within the package.<br>
                        To get in touch with us, send us an email via this link.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question16">
                <a class="accordian-link" href="#question16" onclick="keepLocation(window.pageYOffset);">
                    How long will it take to receive my refund?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        Once you have sent your parcel to be returned, it will take no longer than 14 working days to receive your refund. This involves the wait in All Out receiving the parcel during transit times and the time it takes to process the refund to your respective payment method.<br>
                        We will email you to inform you that we have received your return and that your refund is on its way.<br>
                        If it has been longer than 14 working days and you have not received your refund nor an email from us then please email us immediately, ensure that you reference your order number.<br>
                        You can contact us via this link.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question17">
                <a class="accordian-link" href="#question17" onclick="keepLocation(window.pageYOffset);">
                    How can I get a refund?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id a mollitia debitis.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question18">
                <a class="accordian-link" href="#question18" onclick="keepLocation(window.pageYOffset);">
                    What is your returns policy?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora minima inventore voluptates accusantium magni nostrum facere eos optio eius dicta?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec" id="myorder-section">
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question19">
                <a class="accordian-link" href="#question19" onclick="keepLocation(window.pageYOffset);">
                    My order contains the wrong items.
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        We are so sorry that you have received the wrong items.<br>
                        Please return this back to us as soon as possible, so that we can get this resolved for you straight away. Please ensure that you choose the 'incorrect item(s)' option when choosing why you are returning you item(s).<br>
                        We will get this sorted for you as quickly as possible.<br>
                        Please note that if you would still like the items that you originally ordered and they are still in stock, you will need to place a new order for these items through our website as normal. You will receive a full refund for the order containing the wrong items.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question20">
                <a class="accordian-link" href="#question20" onclick="keepLocation(window.pageYOffset);">
                    I am missing an item from my order.
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        We are so sorry that you are missing an item from your order.<br>
                        Please see below some likely reasons as to why this may have happened:<br>
                        We may have sent your items in separate parcels, we would let you know of this via email, so please check your emails for this <br>
                        The item(s) that you ordered went out of stock, since you ordered them, we would notify you of this via email so please check your emails for this <br>
                        In the unlikely event of us missing an item off of your order by mistake, we will get this resolved for you straight away. Please get in touch with our support team to get assistance with this. <br>
                        To contact our support team, you can do so via this link.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question21">
                <a class="accordian-link" href="#question21" onclick="keepLocation(window.pageYOffset);">
                    Can I cancel my order?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quo expedita officia amet saepe ipsum iusto consequatur necessitatibus, maxime doloremque!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question22">
                <a class="accordian-link" href="#question22" onclick="keepLocation(window.pageYOffset);">
                    I have received a faulty item.
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>We are so sorry that you have received a faulty item.<br>
                        Please return this back to us as soon as possible, so that we can get this resolved for you. Please ensure that you choose the 'faulty item' option when choosing why you are returning you item(s).  <br>
                        We will get this sorted for you as quickly as possible.<br>
                        Please note that all items are inspected upon return, so items that can not easily be identified as 'faulty' and could instead have damage inflicted for other reasons may not be refunded in full, or refunded at all.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question23">
                <a class="accordian-link" href="#question23" onclick="keepLocation(window.pageYOffset);">
                    Can I have my order sent as a gift?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        Yes, you can have items sent as a gift for somebody else.<br>
                        Make sure that you choose the 'this is a gift' option at checkout to ensure that this parcel is sent as a gift. <br>
                        We do not offer a gift wrapping service, to have it wrapped differently to a regular parcel, however there are a few things that we will do to make it more special. <br>
                        We will not include the returns form within the parcel, so you don't have to worry about the recipient knowing how much you have spent. In the event that the recipient is not 100% happy with the parcel and needs the item(s) returned, we will only speak with the registered buyer of the order not the recipient. <br>
                        If you are to need the returns form, get in touch with us and we can send you one electronically for you to print out and use.<br>
                        As with all orders, a personal message will be left in the package. This note will be personal to the person listed on the delivery address, so if it is going straight to the recipient please ensure it is there name used on the delivery address.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec" id="products-section">
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question24">
                <a class="accordian-link" href="#question24" onclick="keepLocation(window.pageYOffset);">
                    Why have I received an email saying that my items are out of stock?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>Our items can sell out fast, especially after restocks. Sometimes, orders can get placed before the website is updated with the items being out of stock. In this event, your order may still be placed and you may get charged for it.<br>
                        We will send you an email to inform you that the items are out of stock and what the next steps are, part of this will be issuing you a refund.<br>
                        If you would still like the items once they are back in stock, you will need to place a new order, via our website, in the same way that you did originally.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question25">
                <a class="accordian-link" href="#question25" onclick="keepLocation(window.pageYOffset);">
                    Where can I find your care instructions?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        All of our products contain care instructions that should be followed in order to maintain the extremely high quality of our garments.<br>
                        Care instructions can be found in two places:<br> 
                        On a tag, on the inside of all of our garments<br>
                        On the product page of our website<br>
                        All of the care instructions for our garments vary based on the materials used to make the garments, so please ensure that you read the care instructions carefully before attempting to care for your garments.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question26">
                <a class="accordian-link" href="#question26" onclick="keepLocation(window.pageYOffset);">
                    You do not stock my size.
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>Currently, we only stock certain sizes. This is with the goal of stocking a far wider range of sizes, both smaller and larger than what we currently stock.<br>
                        This is a short term goal of ours, so we hope to achieve this for you in the near future.<br>
                        You can check if we have started stocking your size via our news page, where we will immediately update the page when we stock new products and sizes. <br>
                        You can access the news page via this link.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question27">
                <a class="accordian-link" href="#question27" onclick="keepLocation(window.pageYOffset);">
                    Will you restock an item?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        Unfortunately, we are unable to give information about if or when a particular item is going to be coming back in stock.<br>
                        However, if and when an item is back in stock, we will send an email to our newsletter subscribers informing them of this restock. So, ensure that you are signed up to our newsletter mailing list so that you don't miss out!<br>
                        You can sign up to the newsletter via this link.<br>
                        Not only this, but we update our 'back in stock' news page with all of our restocks when they happen. So, be sure to check out this page regularly to be the first to know.<br>
                        You can go to the news page via this link.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question28">
                <a class="accordian-link" href="#question28" onclick="keepLocation(window.pageYOffset);">
                    Do you have a size guide?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, id accusamus? Odio explicabo minus nesciunt atque eos impedit quidem eaque.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec" id="payments-section">
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question29">
                <a class="accordian-link" href="#question29" onclick="keepLocation(window.pageYOffset);">
                    What is sales tax?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, adipisci. Cumque accusantium magni consectetur impedit sequi tempore in harum quia?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question30">
                <a class="accordian-link" href="#question30" onclick="keepLocation(window.pageYOffset);">
                    I have been overcharged, what shall I do?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>We are sorry that you have been overcharged for your order.<br>
                        There are certain likely reasons that could be the cause of this, however it may not mean you have been truly overcharged.<br>
                        If you feel that you have been overcharged however, please get in touch with our support team who will be happy to help. If it is apparent that you have been overcharged, we will refund you straight away.<br>
                        Please note that refunds can take 3-5 working days until they appear in your account, from the moment that they are processed.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question31">
                <a class="accordian-link" href="#question31" onclick="keepLocation(window.pageYOffset);">
                    When am I charged for my order?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>Once you have checked out after placing your order, you will be charged immediately. This is assuming that your card has been authorised, once it has been authorised you will receive an order confirmation email to confirm this for you.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question32">
                <a class="accordian-link" href="#question32" onclick="keepLocation(window.pageYOffset);">
                    Can I use multiple promo codes on a single order?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        Promo codes can not be combined on the same order.<br>
                        It is unlikely that we will release multiple promo codes to be used in the same time frame. However in the event that we do, it will not be possible to combine these codes.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question33">
                <a class="accordian-link" href="#question33" onclick="keepLocation(window.pageYOffset);">
                    Do you offer blue light discount?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        Currently, we do not have a way of offering blue light discount.<br>
                        This is something that we are hoping to make possible in the future.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question34">
                <a class="accordian-link" href="#question34" onclick="keepLocation(window.pageYOffset);">
                    Do you offer student discount?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        We do not currently have a way of offering student discount.<br>
                        This is something that will are hoping to make possible in the future.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question35">
                <a class="accordian-link" href="#question35" onclick="keepLocation(window.pageYOffset);">
                    Can I pay in installments?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        We do not currently accept payments in installments.<br>
                        Currently, we only accept credit/debit card payments in one full upfront payment.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question36">
                <a class="accordian-link" href="#question36" onclick="keepLocation(window.pageYOffset);">
                    Do you offer gift cards?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        Currently, we do not offer gift cards.<br>
                        This is something that we are working on and will hopefully be available for purchase soon.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question37">
                <a class="accordian-link" href="#question37" onclick="keepLocation(window.pageYOffset);">
                    Which payment methods do you accept?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>Currently, we only accept debit and credit card payments, check below to see which providers we accept:<br>
                        Visa<br>
                        Mastercard<br>
                        Amex<br>
                        ChinaUnionPay<br>
                        Jcb<br>
                        Diners<br>
                        CartesBancaires<br>
                        Discover<br>
                        Electron<br>
                        Maestro<br>
                        Unfortunately, any other credit/debit cards will not be accepted at checkout.<br>
                        We are working hard and fast to allow more payment methods to be accepted at checkout, you can keep an eye on our news page to see when we announce a new method of payment.<br>
                        You can access our news page via this link.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec" id="technical-section">
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question38">
                <a class="accordian-link" href="#question38" onclick="keepLocation(window.pageYOffset);">
                    How can I unsubscribe from all Out newsletters?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>At the bottom of all of our marketing communications there is an 'unsubscribe' link that you can follow to unsubscribe from All Out email marketing.<br>
                        Once you are redirected to another page, click the 'unsubscribe' button and you will no longer receive marketing emails from All Out.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question39">
                <a class="accordian-link" href="#question39" onclick="keepLocation(window.pageYOffset);">
                    Do you have a mobile app?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        Currently, we do not have a mobile app.<br>
                        Any activity that you want to complete must be done so via our online website.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question40">
                <a class="accordian-link" href="#question40" onclick="keepLocation(window.pageYOffset);">
                    How can I remove items from my wishlist?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        Firstly, please ensure that you are signed in to your All Out account, then follow these simple steps below:<br>
                        Navigate to your account via to account bar at the top right of your screen (desktop) or via the menu (mobile)<br>
                        Select the 'my wishlist' option from the member's options under your account bar<br>
                        Hover over the item that you would like to remove<br>
                        Select the X at the top right of the product image<br>
                        After doing so, it will no longer be part of your wishlist.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question41">
                <a class="accordian-link" href="#question41" onclick="keepLocation(window.pageYOffset);">
                    How can I sign up to receive newsletters from All Out?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        When signing up to All Out and creating an account, you consent to receiving All Out marketing subscriptions. In this case, you will automatically begin receiving marketing communications from All Out.<br>
                        You can also receive newsletters by signing up to receive them via the newsletter link at the bottom of our website, you do not have to create an account to do so but you will still receive the marketing communications from All Out.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question42">
                <a class="accordian-link" href="#question42" onclick="keepLocation(window.pageYOffset);">
                    Why am I not receiving All Out communications?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        When signing up to All Out and creating an account, you consent to receiving All Out marketing subscriptions.<br>
                        In the event that you are not receiving marketing communications from All Out please check the following below: <br>
                        You have used the correct email<br>
                        This can be easily completed by signing into your account using the email you originally used to sign up, if it is not recognised then you have not used the correct email address.<br>
                        Check your junk mail<br>
                        Some email software will mark All Out as sending junk mail, if this is the case for you then ensure that you add 'noreply@aoapparel.co.uk' as a contact in your email address book.<br>
                        Contact us<br>
                        If you are still not receiving All Out marketing communications then please get in touch and we will help to resolve the issue for you.<br>
                        You can contact us via this link.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question43">
                <a class="accordian-link" href="#question43" onclick="keepLocation(window.pageYOffset);">
                    i would like to close my All Out account.
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        We are sorry to hear that you would like to close your All Out account.<br>
                        In order to do so, please get in touch with our support team who can then close the account for you. They will send you an email to confirm that they have done so, once this email has been sent it will be no longer possible for you to log into the account.<br>
                        In order to log in again, you will need to create a brand new account and re-enter all of your credentials.<br>
                        You can get in contact with us via this link.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question44">
                <a class="accordian-link" href="#question44" onclick="keepLocation(window.pageYOffset);">
                    Can I make changes to my account details?
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        Yes, once you are signed into your account you can change any of your account details. Check below to see what details you can change:<br>
                        'My addresses'<br>
                        Here you can change your home address details, for a faster checkout on your orders with your delivery address already complete.<br>
                        'My wallet'<br>
                        Here you can change your primary card details, for a faster checkout with your card details already complete.<br>
                        'My account'<br>
                        Here you can change details about yourself, this includes your name, date of birth, gender, email and phone number. Please note that your log in email can not be changed.​</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question45">
                <a class="accordian-link" href="#question45" onclick="keepLocation(window.pageYOffset);">
                    I have forgotten my All Out account password.
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>
                        If you have forgotten your password please see below:<br>
                        When signing into your account, choose the 'forgotten password' link<br>
                        You will be prompted to enter your email, where you will then be sent an email<br>
                        Follow the link on the email to reset your password<br>
                        After this has been completed your password will reset and you can use it to sign into your account.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="accordian">
            <div class="accordian-item" id="question46">
                <a class="accordian-link" href="#question46" onclick="keepLocation(window.pageYOffset);">
                    I can not sign in to my account.
                    <i class="icon ion-md-add"></i>
                    <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                    <p>                  
If you are having trouble signing into your account, please look at the following below:<br>
Ensure that you are using the same email address and password that you used to register your account<br>
Ensure that there are no errors in spelling<br>
If you have forgotten your password use the 'forgot password' link in order to reset your password, from here you will be prompted to enter your email address and you will receive an email that you can use to change your password<br>
If after these steps you still can not access your account, please get in touch with our support team who will do their best to resolve the issue. Please include as much information about the issue as you can.<br>
To contact us you can do so via this link.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

{% schema %}
{
	"name": "faq page",
	"tag": "section",
	"class": "spaced-section",
    "presets": [
		{ "name": "FAQ Block" }
	]
}
{% endschema %}