<div class="container">
    <ul class="extra-detail-tabs">
        <li><p class="tab">Product Features</p></li>
        <li><p class="tab">Product Materials</p></li>
        <li><p class="tab">Care Instructions</p></li>
        <li><p class="tab">Size & Fit</p></li>
    </ul>
</div>