#chosen-colour {
    font-size: 18px;
    font-weight: bold;
}

.colour-options-container {
    width: 400px;
}

#colour-option-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.colour-option-link {
    padding: 0 2px;
}

li {
    list-style: none;
}

.colour-option-image {
    max-height: 80px;
}

@media screen and (max-width: 425px) {
    .colour-option-image {
        max-height: 50px;
    }
}