#chosen-colour {
    font-size: 18px;
    font-weight: bold;
}

.colour-options-container {
    width: 400px;
}

#colour-option-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.colour-option-link {
    padding: 0 2px;
}