/* header */

#shopify-section-template--16352758038781__16603859214b6fd014 {
    display: flex;
    justify-content: center;
}

.width-container {
    max-width: 90%;
    width: 90%;
}

li, a, button {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 40px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    padding-bottom: 15px;
    font-family: 'Montserrat';
}
.nav-links li a:hover {
    border-bottom: 3px solid black;
}

button {
    padding: 9px 25px;
    background-color: #000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #fff;
    font-family: 'Montserrat';
}
button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.blankspace p {
    color: #fff;
    cursor: pointer;
}
nav ul li a.active {
    border-bottom: 3px solid #000;
}

/* accordian */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container {
    width: 100%; 
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.accordian-item {
    border-radius: .4rem;
    background-color: #283042;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}

.accordian-link {
    font-size: 1.6rem;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordian-link i {
    color: #e7d5ff;
    padding: .5rem;
    transition: transform 0.5s ease-in;
}
.accordian-link i.rotate {
    transform: rotate(180deg);
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    transition: max-height 650ms;
}

.answer::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #8fc460;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.answer p {
    font-size: 1.4rem;
    color: rgba(255,255,255,.6);
    padding: 2rem;
}

.accordian-item:target .answer {
    max-height: 20rem;
}

.accordian-item:target .accordian-link .ion-md-add {
    display: none;
}
.accordian-item:target .accordian-link .ion-md-remove {
    display: none;
}

